replicaCount: 1

image:
  repository: ghcr.io/naqa92-portfolio-projects/talos-landing
  tag: "0.1.4"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-registry-secret

podAnnotations: {}

port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false

startupProbe:
  httpGet:
    path: /healthz
    port: 8000
  failureThreshold: 30
  periodSeconds: 5

livenessProbe:
  httpGet:
    path: /healthz
    port: 8000
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /healthz
    port: 8000
  periodSeconds: 5

servicesConfig: ""
