{% extends "base.html" %}

{% block content %}
<main>
    <section class="relative min-h-screen w-full flex flex-col items-center justify-center px-6 py-20">
        <h1 class="text-7xl md:text-9xl font-extrabold tracking-tighter text-white">
            <span class="bg-clip-text text-transparent bg-gradient-to-b from-white to-white/40">taloslab</span><span class="text-purple-500">.cc</span>
        </h1>
        <p class="text-lg md:text-xl text-slate-400 font-light max-w-2xl mx-auto leading-relaxed tracking-wide mt-4 text-center">
            A high-performance homelab Kubernetes infrastructure focused on high availability and edge computing automation.
        </p>
    </section>
</main>
{% endblock %}
